<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

	<style>
		body {
			margin: 5px;
			font-family: Arial;
			font-size: 12px;
		}

		div {
			padding: 5px 0px 5px 0px;
		}

		td {
			padding: 3px;
		}

		thead {
			font-weight: bold;
		}
	</style>

</head>

<body>

	<h1>{{headline}}</h1>

	<hr size='1' />

	<div>
		Today is: {{date}}
	</div>

	<table border='1'>

		<thead>
			<tr>
				<td>Date</td>
				<td>City</td>
				<td>Temperature</td>
			</tr>
		</thead>

		<tbody>
			{{loop:temperatures}}
			<tr>
				<td>{{date}}</td>
				<td>{{city}}</td>
				<td>{{temperature}}</td>
			</tr>
			{{/loop:temperatures}}
		</tbody>

	</table>

	<div>
		Type of rains:
	</div>

	<ul>
		{{loop:rains}}
		<li>{{type}}</li>
		{{/loop:rains}}
	</ul>

</body>

</html>
